In [41]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

#dfv = pd.read_csv('https://raw.githubusercontent.com/ZelshaR/Project/main/NoteBooks/CSVs/dfv.csv')

Norm = pd.read_csv('https://raw.githubusercontent.com/ZelshaR/Project/main/NoteBooks/CSVs/newdfc.csv')
Norm.index = Norm['Unnamed: 0'].values
del Norm['Unnamed: 0']

In [43]:
df['date'] = pd.to_datetime(df['date'])

In [44]:
df['nam'] = 0
for i in range(len(df)):
    df['nam'][i] = (dt.date(2020,df['date'][i].month,df['date'][i].day) - dt.date(2020,1,1)).days
for i in range(len(df)):
    if df['date'].iloc[i].year == 2021:
        df['nam'].iloc[i] = df['nam'].iloc[i]+365
    elif df['date'].iloc[i].year == 2022:
        df['nam'].iloc[i] = df['nam'].iloc[i]+730

<ipython-input-44-17801768d262>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nam'][i] = (dt.date(2020,df['date'][i].month,df['date'][i].day) - dt.date(2020,1,1)).days

In [80]:
dfc = pd.DataFrame(columns = df['location'].unique(), index = list(range(1,max(df['nam'] + 1))))
dfc = dfv.fillna(0)

dfd = pd.DataFrame(columns = df['location'].unique(), index = list(range(1,max(df['nam'] + 1))))
dfd = dfv.fillna(0)

In [81]:
for i in range(len(df)):
    dfc[df['location'][i]][df['nam'][i]]=df['new_cases'][i]
for i in range(len(df)):
    dfd[df['location'][i]][df['nam'][i]]=df['new_deaths'][i]

<ipython-input-81-490f3d27e1fb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc[df['location'][i]][df['nam'][i]]=df['new_cases'][i]
<ipython-input-81-490f3d27e1fb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfd[df['location'][i]][df['nam'][i]]=df['new_deaths'][i]

In [82]:
a = Norm.columns
b = dfc.columns
c = list(set(b) - set(a))

In [83]:
for i in c:
    del dfd[i]
    del dfc[i]

In [85]:
dfc

,Afghanistan,Africa,Albania,Algeria,Angola,Argentina,Armenia,Asia,Australia,Austria,...,United Arab Emirates,United Kingdom,United States,Upper middle income,Uruguay,Uzbekistan,Venezuela,World,Zambia,Zimbabwe
1,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
2,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
3,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
4,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
5,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,353,20558,0.0,792,11,21836.0,4032,577587,22985,32258,...,1991,60114.0,104104.0,693376,9074,912,2157,2095519,0,232
766,480,14863,1452.0,378,13,12664.0,2467,583347,25247,29324,...,2015,53326.0,80051.0,529187,6094,887,1448,1833762,429,0
767,733,13575,251.0,502,45,25406.0,1631,563095,27373,27299,...,1704,64322.0,336568.0,528556,6968,832,0,2235580,111,0
768,815,15133,841.0,610,15,32790.0,2486,633995,31510,27087,...,1615,66634.0,221262.0,721705,8444,773,1694,3129028,319,201
769,811,19268,700.0,585,29,27252.0,2811,590118,11483,38309,...,1538,67677.0,187299.0,745423,8100,778,1560,2401537,414,137

In [90]:
for h in dfd.columns:    
    for i in range(len(dfd)):
        if dfd[h].iloc[i] < 0:
            dfd[h].iloc[i] = 0
for h in dfc.columns:    
    for i in range(len(dfc)):
        if dfc[h].iloc[i] < 0:
            dfc[h].iloc[i] = 0

C:\Users\user01\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [98]:
dfc = dfc.drop(labels = [424],axis = 0)
dfd = dfd.drop(labels = [424],axis = 0)

KeyError: '[424] not found in axis'

In [99]:
dfc.to_csv('newdfc.csv')
dfd.to_csv('newdfd.csv')

In [102]:
corlist = dfc.columns
dfcsr = dfc.copy(deep=True)
dfdsr = dfd.copy(deep=True)
for i in corlist:
    for j in range(len(dfcsr)):
        dfcsr[i].iloc[j] = (dfc[i].iloc[j]-min(dfc[i]))/(max(dfc[i])-min(dfc[i]))
for i in corlist:
    for j in range(len(dfdsr)):
        dfdsr[i].iloc[j] = (dfd[i].iloc[j]-min(dfd[i]))/(max(dfd[i])-min(dfd[i]))

In [103]:
dfcsr.to_csv('newdfcsr.csv')
dfdsr.to_csv('newdfdsr.csv')