In [106]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

In [107]:
df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv')

#dfv = pd.read_csv('https://raw.githubusercontent.com/ZelshaR/Project/main/NoteBooks/CSVs/dfv.csv')

Norm = pd.read_csv('https://raw.githubusercontent.com/ZelshaR/Project/main/NoteBooks/CSVs/newdfc.csv')
Norm.index = Norm['Unnamed: 0'].values
del Norm['Unnamed: 0']

In [108]:
df['date'] = pd.to_datetime(df['date'])

In [109]:
df['nam'] = 0
for i in range(len(df)):
    df['nam'][i] = (dt.date(2020,df['date'][i].month,df['date'][i].day) - dt.date(2020,1,1)).days
for i in range(len(df)):
    if df['date'].iloc[i].year == 2021:
        df['nam'].iloc[i] = df['nam'].iloc[i]+365
    elif df['date'].iloc[i].year == 2022:
        df['nam'].iloc[i] = df['nam'].iloc[i]+730

<ipython-input-109-4af1d23511bc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['nam'][i] = (dt.date(2020,df['date'][i].month,df['date'][i].day) - dt.date(2020,1,1)).days
C:\Users\user01\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [110]:
dfc = pd.DataFrame(columns = df['location'].unique(), index = list(range(1,max(df['nam'] + 1))))
dfc = dfv.fillna(0)

dfd = pd.DataFrame(columns = df['location'].unique(), index = list(range(1,max(df['nam'] + 1))))
dfd = dfv.fillna(0)

In [111]:
for i in range(len(df)):
    dfc[df['location'][i]][df['nam'][i]]=df['new_cases'][i]
for i in range(len(df)):
    dfd[df['location'][i]][df['nam'][i]]=df['new_deaths'][i]

<ipython-input-111-490f3d27e1fb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfc[df['location'][i]][df['nam'][i]]=df['new_cases'][i]
<ipython-input-111-490f3d27e1fb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfd[df['location'][i]][df['nam'][i]]=df['new_deaths'][i]

In [112]:
a = Norm.columns
b = dfc.columns
c = list(set(b) - set(a))

In [113]:
for i in c:
    del dfd[i]
    del dfc[i]

In [114]:
dfc

,Afghanistan,Africa,Albania,Algeria,Angola,Argentina,Armenia,Asia,Australia,Austria,...,United Arab Emirates,United Kingdom,United States,Upper middle income,Uruguay,Uzbekistan,Venezuela,World,Zambia,Zimbabwe
1,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
2,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
3,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
4,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
5,0,0,0.0,0,0,NaN,0,0,0,0,...,0,0.0,0.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,353,20558,0.0,792,11,21836.0,4032,577587,22985,32258,...,1991,60114.0,104104.0,693376,9074,912,2157,2095519,0,232
766,480,14863,1452.0,378,13,12664.0,2467,583347,25247,29324,...,2015,53326.0,80051.0,529187,6094,887,1448,1833762,429,0
767,733,13575,251.0,502,45,25406.0,1631,563095,27373,27299,...,1704,64322.0,336568.0,528556,6968,832,0,2235580,111,0
768,815,15133,841.0,610,15,32790.0,2486,633995,31510,27087,...,1615,66634.0,221262.0,721705,8444,773,1694,3129028,319,201
769,811,19268,700.0,585,29,27252.0,2811,590118,11483,38309,...,1538,67677.0,187299.0,745423,8100,778,1560,2401537,414,137

In [115]:
for h in dfd.columns:    
    for i in range(len(dfd)):
        if dfd[h].iloc[i] < 0:
            dfd[h].iloc[i] = 0
for h in dfc.columns:    
    for i in range(len(dfc)):
        if dfc[h].iloc[i] < 0:
            dfc[h].iloc[i] = 0

C:\Users\user01\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [116]:
dfc = dfc.drop(labels = [424],axis = 0)
dfd = dfd.drop(labels = [424],axis = 0)

In [117]:
dfc = dfc.fillna(0)
dfd = dfd.fillna(0)

In [118]:
dfc.to_csv('newdfc.csv')
dfd.to_csv('newdfd.csv')

In [119]:
corlist = dfc.columns
dfcsr = dfc.copy(deep=True)
dfdsr = dfd.copy(deep=True)
for i in corlist:
    for j in range(len(dfcsr)):
        dfcsr[i].iloc[j] = (dfc[i].iloc[j]-min(dfc[i]))/(max(dfc[i])-min(dfc[i]))
for i in corlist:
    for j in range(len(dfdsr)):
        dfdsr[i].iloc[j] = (dfd[i].iloc[j]-min(dfd[i]))/(max(dfd[i])-min(dfd[i]))

In [120]:
dfcsr.to_csv('newdfcsr.csv')
dfdsr.to_csv('newdfdsr.csv')

In [121]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,nam
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,54
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,55
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,56
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,57
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160694,ZWE,Africa,Zimbabwe,2022-02-05,230402.0,232.0,141.000,5362.0,5.0,4.143,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,765
160695,ZWE,Africa,Zimbabwe,2022-02-06,230402.0,0.0,134.571,5362.0,0.0,3.571,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,766
160696,ZWE,Africa,Zimbabwe,2022-02-07,230402.0,0.0,105.143,5362.0,0.0,3.429,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,767
160697,ZWE,Africa,Zimbabwe,2022-02-08,230603.0,201.0,107.429,5366.0,4.0,2.286,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,768
160698,ZWE,Africa,Zimbabwe,2022-02-09,230740.0,137.0,104.000,5367.0,1.0,2.143,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,769